</div>
{{if .content}}
<div id="disqus_thread"></div>
{{end}}
<div id="footer">
    <span>
        Copyright © 2015 - 2021 imlonghao. Theme by
        <a href="http://simiki.org/" target="_blank" rel="noopener noreferrer">Simiki</a>. CC BY-NC-SA 4.0
    </span>
</div>
<script async defer data-website-id="02a312cb-ec93-43ab-9977-6290b04fe422" src="https://umami.esd.cc/umami.js" data-do-not-track="true"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.3.0/dist/lazyload.min.js"
    integrity="sha256-bojBIKfs4l2WDcJODncBIGEe5fhU7/sM3zRO5/f2nqE=" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/npm/instant.page@5.1.0/instantpage.min.js" crossorigin="anonymous" async></script>
</body>
</html>
