</div>
{{if .content}}
<div id="disqus_thread"></div>
{{end}}
<div id="footer">
    <span>
        Copyright © 2015 - 2019 imlonghao. Theme by
        <a href="http://simiki.org/" target="_blank" rel="noopener noreferrer">Simiki</a>. CC BY-NC-SA 4.0
    </span>
</div>
{{if .content}}
<script>
    var dsqjs = new DisqusJS({
        shortname: 'imlonghao',
        siteName: 'imlonghao',
        identifier: document.location.origin + document.location.pathname,
        url: document.location.origin + document.location.pathname,
        api: 'https://disqus.b-cdn.net/',
        apikey: 'AJMeKW6aKyA7j6bMPl9MlSsVczcxKZIhpCqi8HBdVpZ2oY9utXLqSFysRA0FLxlF',
        admin: 'imlonghao',
        adminLabel: 'Mod'
    });
</script>
{{end}}
</body>

</html>