</div>
{{if .content}}
<div id="disqus_thread"></div>
{{end}}
<div id="footer">
    <span>
        Copyright © 2015 - 2020 imlonghao. Theme by
        <a href="http://simiki.org/" target="_blank" rel="noopener noreferrer">Simiki</a>. CC BY-NC-SA 4.0
    </span>
</div>
<script src="https://cdn.jsdelivr.net/npm/cfga@1.0.2/cfga.min.js"
    integrity="sha256-PzjJJNZQx7BzqlnFmBRBQ+QQDgQeWP7Iitgyr5ZZN+U=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.3.0/dist/lazyload.min.js"
    integrity="sha256-bojBIKfs4l2WDcJODncBIGEe5fhU7/sM3zRO5/f2nqE=" crossorigin="anonymous" async></script>
</body>

</html>