</div>
{{if .content}}
<div id="disqus_thread"></div>
{{end}}
<div id="footer">
    <span>
        Copyright © 2015 - 2020 imlonghao. Theme by
        <a href="http://simiki.org/" target="_blank" rel="noopener noreferrer">Simiki</a>. CC BY-NC-SA 4.0
    </span>
</div>
{{if .content}}
<script>
    var dsqjs = new DisqusJS({
        shortname: 'imlonghao',
        siteName: 'imlonghao',
        identifier: document.location.origin + document.location.pathname,
        url: document.location.origin + document.location.pathname,
        api: 'https://disqus.skk.moe/disqus/',
        apikey: 'AJMeKW6aKyA7j6bMPl9MlSsVczcxKZIhpCqi8HBdVpZ2oY9utXLqSFysRA0FLxlF',
        admin: 'imlonghao',
        adminLabel: 'Mod'
    });
</script>
{{end}}
<script>
    window.ga_tid = "UA-62296702-4";
    window.ga_api = "https://g.esd.cc/g/";
    window.lazyLoadOptions = {
        elements_selector: ".lazy"
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/cfga@1.0.1/cfga.min.js" integrity="sha256-hQRxcrcChQ7tkmia1nSA2rDyLgmTAfFcgljUEhYE5fA=" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.3.0/dist/lazyload.min.js" integrity="sha256-bojBIKfs4l2WDcJODncBIGEe5fhU7/sM3zRO5/f2nqE=" crossorigin="anonymous" async></script>
</body>

</html>
