<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>{{.title}} - imlonghao</title>
    <meta name="description" content="{{.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/{{.ver}}.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/disqusjs@1.2.3/dist/disqusjs.css"
        integrity="sha256-8IXig99c25Z/gJS5kdQdWcv3Q+IzWnVhmYrYXwkYiKI="
        crossorigin="anonymous">
    <script src="/static/{{.ver}}.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.2.3/dist/disqus.js"
        integrity="sha256-oo63xXdlWf/LbBML6bJ7TSn5KJ3dHYsBwiJBqns1A/Q="
        crossorigin="anonymous"></script>
    <script src="//instant.page/1.1.0" type="module"
        integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"
        crossorigin="anonymous"></script>
    <link rel="alternate" type="application/rss+xml" title="imlonghao Feed" href="https://imlonghao.com/feed.xml">
</head>

<body>
    <div id="container">
