<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>{{.title}} - imlonghao</title>
    <meta name="description" content="{{.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="preload" onload="this.rel='stylesheet'" href="/static/style.css">
    <link rel="preload" onload="this.rel='stylesheet'" href="/static/prism.css">
    <link rel="preload" onload="this.rel='stylesheet'" href="https://cdn.jsdelivr.net/npm/disqusjs@1.0.6/dist/disqusjs.css">
    <script src="/static/prism.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.0.6/dist/disqus.js" async></script>
    <link rel="alternate" type="application/rss+xml" title="imlonghao Feed" href="https://imlonghao.com/feed">
</head>

<body>
    <div id="container">
