<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>{{.title}} - imlonghao</title>
    <meta name="description" content="{{.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/{{.ver}}.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.3.0/dist/disqusjs.css"
        integrity="sha256-GxdCIOyfxQ1OBfS99qAIJDoGK1ADuBsxhMTqXG82fAY=" crossorigin="anonymous">
    <script src="/static/{{.ver}}.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.3.0/dist/disqus.js"
        integrity="sha256-LVaMHPQ2zLqOc5rXSAfr4d1PIkEGNLyyUTDNPZmTtUw=" crossorigin="anonymous"></script>
    <link rel="alternate" type="application/rss+xml" title="imlonghao Feed" href="https://imlonghao.com/feed.xml">
</head>

<body>
    <div id="container">