<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>{{.title}} - imlonghao</title>
    <meta name="description" content="{{.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/style.{{.ver}}.css">
    <link rel="stylesheet" href="/static/prism.{{.ver}}.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/disqusjs@1.0.10/dist/disqusjs.css">
    <script src="/static/ga.{{.ver}}.js" async></script>
    <script src="/static/prism.{{.ver}}.js" async></script>
    <script src="//cdn.jsdelivr.net/npm/disqusjs@1.0.10/dist/disqus.js"></script>
    <link rel="alternate" type="application/rss+xml" title="imlonghao Feed" href="https://imlonghao.com/feed.xml">
</head>

<body>
    <div id="container">