{{template "header.html" .}}
<div id="wiki_title">imlonghao</div>
<div id="index">
    <h2 id="latest">文章</h2>
    <ul>
        {{range .articles}}
        <li class="pagelist">
            <a href="./{{.ID}}.html">{{.Title}}</a>
            <small id="index-date">{{.CreatedTimeStr}}</small>
        </li>
        {{end}}
    </ul>
    <div class="clearfix"></div>
    <h2 id="link">链接</h2>
    <ul>
        {{range .links}}
        <li class="pagelist">
            <a href="{{.Link}}" target="_blank" rel="noopener">{{.Name}}</a>
        </li>
        {{end}}
    </ul>
    <div class="clearfix"></div>
    <h2 id="contact">联系</h2>
    <ul>
        <li class="pagelist">
            Email: bWVAaW1sb25naGFvLmNvbQ==
        </li>
        <li class="pagelist">
            Github:
            <a href="https://github.com/imlonghao" target="_blank" rel="noopener noreferrer">imlonghao</a>
        </li>
        <li class="pagelist">
            GPG Public Key: 57957BAD5D038B07C28EF49A15B26377262268C1
        </li>
        <li class="pagelist">
            Telegram:
            <a href="https://t.me/imlonghao" target="_blank" rel="noopener noreferrer">@imlonghao</a>
        </li>
    </ul>
</div>
{{template "footer.html" .}}
